<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./test/eXorus/PhpMimeMailParser/bootstrap.php">
    <testsuites>
        <testsuite name="eXorus PhpMimeMailParser Test Suite">
            <directory>./test/eXorus/PhpMimeMailParser</directory>
        </testsuite>
    </testsuites>
</phpunit>